[mysqld]

server-id=0
auto_increment_offset=1
auto_increment_increment=1000
innodb_autoinc_lock_mode=1

log-bin=mysql-bin
gtid-mode=ON
enforce-gtid-consistency

binlog-format=STATEMENT
sync-binlog=1
innodb-flush-log-at-trx-commit=1
expire_logs_days=7

master-info-repository=TABLE
relay-log-info-repository=TABLE

binlog-ignore-db=mysql
binlog-ignore-db=sys
binlog-ignore-db=information_schema
binlog-ignore-db=performance_schema
binlog-ignore-db=test

replicate-ignore-db=mysql
replicate-ignore-db=sys
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
replicate-ignore-db=test

