[mysqld]

server-id=0
log-bin=mysql-bin
gtid-mode=ON
enforce-gtid-consistency

binlog-format=ROW
sync-binlog=1
innodb-flush-log-at-trx-commit=1

master-info-repository=TABLE
relay-log-info-repository=TABLE

binlog-ignore-db=test

replicate-do-db=db1
replicate-do-db=db2

