apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ kubernetes_apiserver_advertise_address }}
  bindPort: {{ kubernetes_apiserver_bind_port }}
etcd:
  endpoints:
{% for host in groups['etcd'] %}
  - http://{{ hostvars[host]['etcd_node_ip'] }}:{{ etcd_client_port }}
{% endfor %}
networking:
  dnsDomain: {{ kubernetes_cluster_domain }}
  serviceSubnet: {{ kubernetes_service_cidr }}
  podSubnet: {{ kubernetes_pod_network_cidr }}
apiServerCertSANs:
{% for san in kubernetes_apiserver_cert_extra_sans.split(',') %}
  - {{ san }}
{% endfor %}
{% if kubernetes_image_repository is defined %}
imageRepository: {{ kubernetes_image_repository }}
{% endif %}
kubernetesVersion: {{ kubernetes_version }}
token: {{ kubernetes_token }}
{%if kubernetes_apiserver_extra_args is defined %}
apiServerExtraArgs:
{% for k, v in kubernetes_apiserver_extra_args | dictsort %}
  {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
{%if kubernetes_controllermanager_extra_args is defined %}
controllerManagerExtraArgs:
{% for k, v in kubernetes_controllermanager_extra_args | dictsort %}
  {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
{% if kubernetes_scheduler_extra_args is defined %}
schedulerExtraArgs:
{% for k, v in kubernetes_scheduler_extra_args | dictsort %}
  {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
# XXX: kubeadm-1.9.8 doesn't support readOnly and type for volumes.
#apiServerExtraVolumes:
#- name: audit-policy
#  hostPath: /etc/kubernetes/audit-policy.yaml
#  mountPath: /etc/kubernetes/audit-policy.yaml
#  readOnly: true
#  type: File
#- name: kube-log
#  hostPath: /var/log/kubernetes
#  mountPath: /var/log/kubernetes
#  readOnly: false
#  type: DirectoryOrCreate
{%if kubernetes_feature_gates is defined %}
featureGates:
{% for k, v in kubernetes_feature_gates | dictsort %}
  {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
