apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ kubernetes_apiserver_advertise_address }}
  bindPort: {{ kubernetes_apiserver_bind_port }}
etcd:
  endpoints:
{% for host in groups['etcd'] %}
  - http://{{ hostvars[host]['etcd_node_ip'] }}:{{ etcd_client_port }}
{% endfor %}
networking:
  dnsDomain: {{ kubernetes_cluster_domain }}
  serviceSubnet: {{ kubernetes_service_cidr }}
  podSubnet: {{ kubernetes_pod_network_cidr }}
apiServerCertSANs:
{% for san in kubernetes_apiserver_cert_extra_sans.split(',') %}
  - {{ san }}
{% endfor %}
{% if kubernetes_image_repository is defined %}
imageRepository: {{ kubernetes_image_repository }}
{% endif %}
kubernetesVersion: {{ kubernetes_version }}
token: {{ kubernetes_token }}
